@charset "utf-8";
h2,address,img,body,p{
    padding: 0;
    margin: 0;
    font-style: normal;
    color: #fff;
    font-weight: normal;
}
#share-icon {
    position: absolute;
    width: 0;
    height: 0;
    left: -1000px;
    z-index: -1;
}
#section1,#section2,#section3,#section4,#section5{
    background: url("../imgs/background.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
#section0,#section6{
    background: url("../imgs/bg.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.peter-lynch-first{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 60%;
    background: url("../imgs/peter.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.title-firstline{
    position: absolute;
    top: 52%;
    font-size: 24px;
    text-align: center;
    left: 50%;
    margin-left: -90px;
}
.title-secondline{
    position: absolute;
    text-align: center;
    top: 59%;
    font-size: 15px;
    left: 50%;
    margin-left: -75px;
}
.voice{
    display: none;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -115px;
}
.voice-p1{
    font-size: 18px;
    margin-bottom: 12px;
}
.voice-p2{
    font-size: 15px;
    line-height: 18px;
}
.date,.time,address,.address-time{
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.content-wrap{
    position: absolute;
    padding: 0 30px;
    line-height: 16px;
    max-width: 320px;
    top: 12%;
    margin: 0 auto;
    display: none;
}
.content{
    font-size: 12px;
}
.date,.time,address{
    margin-top: 10px;
}
.address-time{
    margin-top: 25px;
}
.wallst-logo img{
    position: absolute;
    bottom: 12%;
    left: 50%;
    margin-left: -75px;
}
.arrow img{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -22px;
}
.anyun{
    width: 100%;
    height: 100%;
    background: url("../imgs/anyun.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.chengsheng{
    width: 100%;
    height: 100%;
    background: url("../imgs/chengsheng.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.kangyawen{
    width: 100%;
    height: 100%;
    background: url("../imgs/kangyawen.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.wangjian{
    width: 100%;
    height: 100%;
    background: url("../imgs/wangjian.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.w-club{
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 8%;
    left: 50%;
    margin-left: -21px;
    opacity: 0.7;
}
.logo{
    position: absolute;
    bottom: 0;
    z-index: 100;
    right: 0;
}
.person-introduce{
    position: absolute;
    top: 20%;
    left: 7%;
    color: #ffffff;
}
.name{
    font-size: 20px;
    margin-bottom: 8px;
}
.job-title{
    margin-bottom: 35px;
    font-size: 12px;
}
.introduce{
    font-size: 15px;
    line-height: 22px;
}
.sign-up{
    color: #ffffff;
    text-align: center;
}
.peter{
    position: absolute;
    top: 30%;
    left: 20%;
    background: url("../imgs/peter.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 60%;
    height: 60%;
}
.sign-up{
    position: absolute;
    top: 46%;
    font-size: 15px;
    left: 50%;
    margin-left: -90px;
}
.sign-up-text{
    margin: 10px 0;
    line-height: 25px;
}
.btn{
    margin-top: 25px;
    width: 100%;
}
.btn a{
    color: #ffffff;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    line-height: 40px;
}
.peter-lynch{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 60%;
    background: url("../imgs/peter.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.peter-face{
    width: 100%;
    height: 50%;
    background: url("../imgs/peter-lynch.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 290px;
}
.img-logo{
    vertical-align: bottom;
}