@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "STHeiti","Microsoft YaHei",sans-serif;
}
h1,h3,h2{
    color: #ffffff;
    font-weight: normal;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1280px;
    height: 860px;
    margin: 0 auto;
    position: relative;
}
.clr{
    clear: both;
    overflow: hidden;
}
.page-one{
    background: url("../images/bg1.jpg") no-repeat center center;
    height: 860px;
    position: relative;
}
.logo{
    top: 20px;
    left: 250px;
    position: absolute;
}
.navigator{
    float: right;
}
.navigator ul .nav-btn{
    float: left;
    margin:30px 0 0 80px;
}
.weibo,.wechat{
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    padding: 5px;
}
.wechat{
    margin: 20px 0 0 80px;
}
.wechat:hover,.weibo:hover{
    background: #ffa023;
}
.weibo{
    margin: 20px 100px 0 40px;
}
.navigator a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.navigator a:hover{
    color: #ffa023;
}
.nav-qrcode{
    position: absolute;
    top: 80px;
    right: 100px;
    display: none;
}
.main-title{
    font-size: 72px;
}
.main-title-line-two{
    margin-top: 20px;
}
.num{
    font-size: 120px;
}
.sub-title{
    margin-top: 54px;
}
.subtitle-right,.subtitle-left{
    font-size: 16px;
    float: left;
    margin-top: 80px;
}
.qrcode{
    float: left;
    margin: 0 30px;
    background: url("../images/rect.png") no-repeat;
}
.download{
    position: absolute;
    left: 50%;
    top: 215px;
    text-align: center;
    margin-left: -372px;
}
.download-btn{
    text-align: center;
    margin-left: 85px;
}
.download-btn a{
    display: block;
    width: 260px;
    float: left;
    height: 60px;
    margin-left: 20px;
    font-size: 24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 64px;
}
.android-download{
    background: url('../images/an1.png') no-repeat;
}
.ios-download{
    background: url('../images/iphone2.png') no-repeat;
}
.android-download:hover{
    background: url('../images/an1_ho.png') no-repeat;
}
.ios-download:hover{
    background: url('../images/iphone2_ho.png') no-repeat;
}
.download-btn a img{
    margin-top: 5px;
    margin-right: 10px;
}
.page-two{
    text-align: center;
    height: 860px;
    position: relative;
}
.page-two-title h2{
    font-size: 60px;
    color: #333;
}
.page-two-title h3{
    color: #333;
    font-size: 18px;
    margin-top: 56px;
}
.analyst{
    margin-top: 74px;
    margin-bottom: 15px;
}
.person{
    margin-left: 50px;
    position: relative;
}
.person-one,.person-two,.person-three{
    float: left;
    margin-top: 60px;
}
.person-two{
    margin-left: 20px;
    margin-right: 20px;
}
.name{
    font-size:24px;
}
.job-title{
    font-size: 14px;
    margin-top:15px;
}
.person-one-info,.person-two-info,.person-three-info{
    color: #ffffff;
    position: absolute;
    bottom: 26px;
}
.person-one-info{
    margin-left: 99px;
}
.person-two-info,.person-three-info{
    margin-left: 113px;
}
.container-sm{
    width: 1280px;
    margin: 0 auto;
    height: 660px;
    position: relative;
}
.page-three{
    background: url("../images/bg2.jpg") no-repeat center center;
    height: 660px;
}
.text{
    position: absolute;
    top: 87px;
    right: 100px;
}
.text-title-one,.page-four h2{
    font-size: 40px;
}
.text-title-two{
    font-size: 18px;
    margin-top: 22px;
}
.phone{
    position: absolute;
    top: 226px;
    right: 100px;
}
.container-lg{
    width: 1280px;
    margin: 0 auto;
}
.introduce-one-text,.introduce-two-text{
    text-align: left;
}
.introduce-one-text{
    position: absolute;
    right: 150px;
    bottom: 180px;
}
.introduce-one,.introduce-two{
    position: relative;
}
.introduce-one img{
    margin-left: 50px;
}
.introduce-one{
    margin-top: 80px;
}
.page-four h2,.page-four h3,.page-five h2,.page-five h3{
    color: #333;
}
.page-four h3{
    font-size: 18px;
    margin-top: 29px;
}
.introduce-two{
    text-align: right;
    margin-bottom: 154px;
}
.introduce-two-text{
    position: absolute;
    left: 80px;
    bottom: 120px;
}
.page-five{
    background: rgb(240,242,245);
}
.strategy{
    text-align: center;
    padding-top: 155px;
}
.strategy-title{
    font-size: 60px;
    padding-bottom: 52px;
}
.strategy-title-h3{
    font-size: 18px;
    padding-bottom: 106px;
}
.term{
    margin-left: 180px;
    padding-bottom: 248px;
}
.second-term{
    margin: 0 15px;
}
.first-term,.second-term,.third-term{
    float: left;
    background: #ffffff;
    height: 400px;
    width: 30%;
}
.page-five h4{
    height: 70px;
    line-height: 70px;
    background: rgb(160, 170, 180);
    padding-left: 24px;
    color: #ffffff;
    font-weight: normal;
}
.term-topic{
    font-size: 24px;
    margin: 64px 40px 74px 40px;
    line-height: 35px;
}
.main-speaker{
    font-size: 18px;
}
.main-speaker-title,.topic{
    color: #999999;
    font-size: 12px;
    line-height: 15px;
}
.topic-only{
    padding-top: 36px;
}
.speaker{
    border-top: 1px solid #dddddd;
    padding: 20px 20px 0 20px;
}
.avatar{
    float: left;
    padding-right: 24px;
}
.main-speaker-title{
    padding: 12px 0;
}
.page-six h2,.page-six h3{
    color: #333;
}
.user{
    text-align: center;
    margin-bottom: 110px;
}
.user-say{
    font-size: 60px;
    margin-top: 110px;
    margin-bottom: 51px;
}
.user-num{
    margin-bottom: 110px;
    font-size: 18px;

}
#user-count{
    font-size: 42px;
}
.slider-list li{
    float: left;
    width: 900px;
    background: rgb(240,242,245);
    margin-top: 50px;
}
.slider-list li img,.user-info{
    float: left;
}
.slider{
    position: relative;
    width: 900px;
    margin: 0 auto;
    height: 250px;
    overflow: hidden;
}
.slider-list{
    width: 7200px;
    height: 250px;
    background: rgb(240,242,245);
    position: absolute;
    top: 0;
}
.user-info{
    width: 500px;
    text-align: left;
}
.slider-list img{
    margin-left: 100px;
}
.arrow-left,.arrow-right{
    color: #ffa023;
    font-size: 80px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    font-weight: lighter;
}
.user-name{
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 43px;
}
.evaluation{
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;
}
.arrow-left{
    left: 20px;
    top: 60px;
    display: none;
}
.arrow-right{
    top: 60px;
    right: 20px;
    display: none;
}
.dot-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -105px;
}
.dot-btn-li{
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    background: #ffffff;
    margin-left: 20px;
    cursor: pointer;
}
.active{
    background: #ffa023;
}
.page-seven{
    background: url("../images/bg3.jpg") no-repeat center center;
    height: 500px;
    position: relative;
}
.footer-download{
    padding-top: 80px;
    position: absolute;
    left: 50%;
    margin-left: -340px;
}