*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    border:0;
}
html,body{
    height: 100%;
    font-family: "Helvetica Neue",'Heiti SC','华文黑体', '黑体';
}
body,.pages-cover,.wscn-pages,.wscn-page{
    min-height: 480px;
}


.pages-cover{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.hidden{
    display: none !important;
}
.invisible{
    visibility: hidden;
}
.wscn-pages{
    /*transform: translateX(-9.09%);*/
    -webkit-transition:all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}
.wscn-page{
    height: 100%;
    float: left;
    padding-top: 15px;
}
.choices{
    padding: 0 18px;
    margin-top: 15px;
    margin-left:41px;
}
.btn-choice{
    width: 212px;
    font-size: 18px;
    line-height: 18px;
    color:#fff;
    border-radius: 4px;
    padding: 8px 5px;
    background: #ffbbbb;
    font-family: '黑体';
}
/*.btn-choice-1{*/
    /*background: #0078d2;*/
/*}*/
.btn-choice-select{
    background: #0078d2
}
.btn-choice-2{
    margin-top: 6px;
}
.btn-choice-3{
    margin: 6px 0;
}
.question-img{
    display: block;
    margin:0 auto;
    width:280px;
    /*max-height: 360px;*/
}

.first-page{
    height: 100%;
    background: url("images/bg.png");
}
.first-cover{
    position: fixed;
    top:0;left:0;bottom: 0;
    right: 0;
    background: RGBA(0,0,0,0.6);
}
.first-cover .countdown-popup{
    width:281px;
    height: 201px;
    position: absolute;
    top:50%;margin-top:-140px;
    left:50%;margin-left:-140px;
    background: url(images/1-popup-bg.png) no-repeat center;
    background-size: 100%;
}
.act-title{
    font-size: 36px;
    color:#fc611f;
    text-align: center;
    font-weight: bold;
}
.sub-act-title{
    font-size: 20px;
    color:#a09fa0;
    text-align:center;
}
.first-circle{
    width: 184px;
    height: 184px;
    border-radius: 80%;
    background: url(images/circle.png);
    background-size: 184px 184px;
    margin:6px auto 8px;
    position: relative;
}
.first-circle-img{
    position: absolute;
    background-size: 100%;
    width:244px;height: 236px;
    left: 33px;
    top: 28px;
}
.item-1{
    position: absolute;
    width: 168px;
    height:134px;
    top: 116px;
    left: -28px
}
.item-2{
    width: 251px;
    height:84px;
    position: absolute;
    top: 152px;
    left: 99px;
}
#div-start p{
    color:#8d8d8d;
    font-size:18px;
    font-family: '黑体';
    padding:10px 0 10px;
}
#start-btn{
    width:150px;height: 40px;
    margin:0 auto;
    padding-top: 6px;
    font-weight: bold;
    background: url("images/start.png");
    background-size: 150px 40px;
}
.result-tip{
    font-size: 12px;
    color:#fd7a52;
    margin-top: 10px;
}
.result-msg img{
    width:268px;
    height: 66px;
    display: block;
    margin:10px auto;
}
.result-box{
    border:2px dashed #fb9144;
    position:relative;
    color:#666;
    background: #fff;
    width:237px;
    height: 123px;
    margin:0 auto;
    padding: 10px;
    text-align: left;
    border-radius: 3px;
    font-size: 14px;
}
.result-box img{
    position:absolute;
    bottom: -30px;
    right: -30px;
}

.result-page{
    background: #520000;
    text-align: center;
    height:100%;
}
.profit-money{
    font-size: 15px;
}
.result-detail{
    color:#fff;
    margin-left: 45px;
}
.great-field{
    width: 251px;
    height: 230px;
    background: url(img/result/result-2-bg.png) no-repeat center;
    background-size: 100%;
    margin:10px auto 20px;
    position: relative;
}
.result-page-2 img{
    width:100%;
}
#svg{
    position: absolute;
    top:60px;
    left:62px;
}
.field-score{
    position: absolute;
    font-size: 13px;
}
#stock-score{
    left:100px;
    top:40px;
    color:#faa531;
}
#bulk-score{
    color:#c5a248;
    left:93px;
    bottom: -13px;
}
#foreign-score{
    color:#21d8de;
    right: 12px;
    top: 140px;
}
#bond-score{
    color:#ff7a4d;
    top:140px;
    left:18px;
}
.app-pic{
    background: url(images/phone.png);
    width: 40px;
    height: 66px;
    background-size: 100%;
    float:left;
    margin-left: 61px;
    margin-right: -39px;
}

.result-header{
    height: 60px;
    width:320px;
    margin:0 auto;
}
.replay{
    width:71px;
    height: 28px;
    float:left;
    margin:20px 0 0 10px;
    background: url(images/replay.png) no-repeat center;
    background-size: 100%;
}
#share2friends{
    width:75px;
    height: 54px;
    margin-top: 6px;
    float: right;
    margin-right: 10px;
    background: url(images/share-to-friends.png) no-repeat center;
    background-size: 100%;
}

.blood{
    width:30px;
    position: absolute;
    right:0;
    top:0;
    width:30px;
    bottom:0;
}
.blood span{
    display: block;
    background: green;
    width:100%;
    border-top:1px solid #ddd;

}

#share-icon{
    position: absolute;
    left: -1000px;
    z-index: -1;
}