@charset "utf-8";
body{
    background: url("../imgs/bg-1.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.logo img{
    display: block;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -64px;
}
h1{
    font-size: 36px;
    margin: 0;
    margin-bottom: 15px;
}
h2{
    font-size: 16px;
    margin: 0;
}
main{
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    margin-left: -130px;
}
footer img{
    width: 20px;
    margin-right: 10px;
}
footer a{
    color: #ffa023;
    text-decoration: none;
    width: 75%;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #ffa023;
    position: absolute;
    left: 50%;
    margin-left: -38%;
    bottom: 17%;
}