* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
img{
    width: 100%;
}

html,body{
    height: 100%;
}
.page{
    height: 100%;
    position: relative;
    overflow: hidden;
}
#page-1{
    background: #000;
}
.start-btn{
    width: 130px;
    height: 40px;
    border:1px solid #fff;
    margin:0 auto;
}
.st-text{
    width: 36px;
    height: 17px;
    margin:8px auto 0;
}
.car{
    width: 158px;
    height: 210px;
    position: absolute;
    left:50%;
    margin-left:-79px;
    top:30%;
}

#lunzi{
    width: 46px;
    height: 46px;
    position: absolute;
    top:50px;
    left:128px;
    -webkit-animation: lunzi 1500ms infinite linear;
    animation: lunzi 1500ms infinite linear;
}
#lunzi-key{
    width: 52px;
    height: 20px;
    position: absolute;
    top:64px;
    left:176px;
}
#loading-page{
    padding-top:35%;
    background: #161616;
}
#key-rotate{
    width: 320px;
    margin: 0 auto;
    position: relative;
}
.loading-car{
    position: absolute;
    right: -35px;
    width:38px;
    height: 12px;
    top:-8px;
}
.loading-bar-container{
    position: relative;
    width:250px;
    margin: 0 auto;
}
.loading-bar{
    height: 6px;
    border-radius: 6px;
    position: relative;
}
#loading-white{
    background: #fff;
    position: relative;
    margin-top:-6px;
    width: 0;
}
#loading-black{
    background: #5d5d5d;
}

@-webkit-keyframes lunzi {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}