@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "STHeiti","Microsoft YaHei",sans-serif;
}
h1,h3,h2{
    color: #ffffff;
    font-weight: normal;
}
ul{
    list-style-type: none;
}
.container{
    width: 1280px;
    height: 860px;
    margin: 0 auto;
}
.clr{
    clear: both;
    overflow: hidden;
}
.page-one{
    background: url("../images/bg1.jpg") no-repeat center center;
    height: 860px;
    position: relative;
}
.logo{
    top: 20px;
    left: 250px;
    position: absolute;
}
.navigator{
    float: right;
}
.navigator ul .nav-btn{
    float: left;
    margin:30px 0 0 80px;
}
.weibo,.wechat{
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    padding: 5px;
}
.wechat{
    margin: 20px 0 0 80px;
}
.weibo{
    margin: 20px 100px 0 40px;
}
.navigator a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.main-title{
    font-size: 72px;
}
.main-title-line-two{
    margin-top: 20px;
}
.num{
    font-size: 120px;
}
.sub-title{
    margin-top: 54px;
}
.subtitle-right,.subtitle-left{
    font-size: 16px;
    float: left;
    margin-top: 80px;
}
.qrcode{
    float: left;
    margin: 0 30px;
    background: url("../images/rect.png") no-repeat;
}
.download{
    position: absolute;
    left: 50%;
    top: 215px;
    text-align: center;
    margin-left: -372px;
}
.download-btn{
    text-align: center;
    margin-left: 120px;
}
.download-btn a{
    display: block;
    width: 220px;
    float: left;
    height: 50px;
    margin-left: 20px;
    font-size: 24px;
    text-decoration: none;
    color: #ffa023;
    border: 1px solid #ffa023;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 64px;
}
.download-btn a img{
    margin-top: 5px;
    margin-right: 10px;
}
.page-two{
    text-align: center;
    height: 860px;
    position: relative;
}
.page-two-title h2{
    font-size: 60px;
    color: #333;
}
.page-two-title h3{
    color: #333;
    font-size: 18px;
    margin-top: 56px;
}
.analyst{
    margin-top: 74px;
    margin-bottom: 15px;
}
.person{
    margin-left: 50px;
    position: relative;
}
.person-one,.person-two,.person-three{
    float: left;
    margin-top: 60px;
}
.person-two{
    margin-left: 20px;
    margin-right: 20px;
}
.name{
    font-size:24px;
}
.job-title{
    font-size: 14px;
    margin-top:15px;
}
.person-one-info,.person-two-info,.person-three-info{
    color: #ffffff;
    position: absolute;
    bottom: 26px;
}
.person-one-info{
    margin-left: 99px;
}
.person-two-info,.person-three-info{
    margin-left: 113px;
}
.container-sm{
    width: 1280px;
    margin: 0 auto;
    height: 660px;
    position: relative;
}
.page-three{
    background: url("../images/bg2.jpg") no-repeat center center;
    height: 660px;
}
.text{
    position: absolute;
    top: 87px;
    right: 100px;
}
.text-title-one,.page-four h2{
    font-size: 40px;
}
.text-title-two{
    font-size: 18px;
    margin-top: 22px;
}
.phone{
    position: absolute;
    top: 226px;
    right: 100px;
}
.container-lg{
    width: 1280px;
    margin: 0 auto;
}
.introduce-one-text,.introduce-two-text{
    text-align: left;
}
.introduce-one-text{
    position: absolute;
    right: 150px;
    bottom: 180px;
}
.introduce-one,.introduce-two{
    position: relative;
}
.introduce-one img{
    margin-left: 50px;
}
.introduce-one{
    margin-top: 80px;
}
.page-four h2,.page-four h3,.page-five h2,.page-five h3{
    color: #333;
}
.page-four h3{
    font-size: 18px;
    margin-top: 29px;
}
.introduce-two{
    text-align: right;
    margin-bottom: 154px;
}
.introduce-two-text{
    position: absolute;
    left: 80px;
    bottom: 120px;
}